:root {
    --cor-bg-principal: rgb(218, 167, 2);
    --cor-bg-principal2: rgb(240, 207, 18);
    --cor-bg-principal3: rgb(158, 158, 155);
  }

body{
	background-color: #F9FCFF;
}


.white_btn {

	border: none;
	outline: none;
	padding: 12px 0;
	background-color: var(--cor-bg-principal);
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-left: 88vmax;
}
.white_btn2 {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	margin-left: 90vmax;
	margin-right: 1px;
}
.coin{
	margin-top: 12px;
	margin-left: 4%;
	margin-bottom: 0;
}

.utills {
	margin-top: 10px;
	display: flexbox;
    padding: 0px;
}



.lista {
	padding-left: 80px;
	background-color: var(--cor-bg-principal);
	border-radius: 20px;
	width: 800px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}


.cards {
	display: flex;
    padding: 32px;

}
.card {
	display: flex;
	justify-content: space-between;
	padding: 39px;
	border-radius: 9px;
	box-shadow: 1px 3px 5px rgb(0, 0, 0);
	width:22vmax;
	height: 195px;
}

.listCoin{
	justify-content: center;
	align-items: center;
	padding-left: 0;
	background-color: #F9FCFF;
	border-radius: 20px;
	height: 100vh;
	width:50vmax;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}
.listCoin{
	margin-left: 6%;

}

.headerTable{
	margin-left: 15vmax;
	margin-right: 10vmax;
	width:85vmax;
	align-items: center;
	display: flex;
	justify-content: space-between;
	background-color:transparent;
}

.headerTable > div {
	
	background-color:transparent;
	width: 100%;
	margin: 10px;
	line-height: 2px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
  }

.sec1 {
	margin-right: auto;
	margin-left: auto;
	
}



/* ESTILIZAÇÃO DO CARTAO ====================================*/

.price {
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* margin-left: 30px; */
	margin-bottom: 0px;
	margin-top: 0;
}

.cifra{
	color: rgb(174, 175, 172);
	font-size: 1.5vmax;
	margin-left: 1.2vmax;
	margin-right: 0;
}

.price2{
	margin-top: 0;
	margin-right: 1.5vmax;
	font-size: 3.5vmax;
	margin-bottom: 0;
}
.namecoin{
	color: rgb(174, 175, 172);
	font-size: 1.6vmax;
	margin-left: 1.2vmax;
	
}


@media screen and (max-width: 790px) {

	.white_btn {

		border: none;
		outline: none;
		padding: 12px 0;
		background-color: var(--cor-bg-principal);
		border-radius: 20px;
		width: 120px;
		font-weight: bold;
		font-size: 22px;
		cursor: pointer;
		margin-left: 95vmax;
	}
	.white_btn2 {
		border: none;
		outline: none;
		background-color: transparent;
		cursor: pointer;
		margin-left: 101vmax;
		margin-right: 1px;
	}

	.sec1 {
		margin-right: auto;
		margin-left: auto;
		
	}

	.cards {
		display: flex;
		padding: 32px;
	
	}
	.card {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		border-radius: 9px;
		box-shadow: 1px 3px 5px rgb(0, 0, 0);
		width:32vmax;
		height: 189px;
	}

	
	.listCoin{
		justify-content: center;
		align-items: center;
		padding-left: 0;
		background-color: #F9FCFF;
		border-radius: 20px;
		height: 100vh;
		width:25vmax;
		font-weight: bold;
		margin-left: 20vmax;
		margin-right: 25vmax;
		align-items: center;
	}

	.headerTable{
		margin-left: 25vmax;
		margin-right: 25vmax;
		width:85vmax;
		align-items: center;
		display: flex;
		justify-content: space-between;
		background-color:transparent;
	}
	
	.headerTable > div {
		
		background-color:transparent;
		width: 100%;
		margin: 10px;
		line-height: 2px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 20px;
	  }


}

@media screen and (max-width: 380px) {

	.white_btn {

		border: none;
		outline: none;
		padding: 12px 0;
		background-color: var(--cor-bg-principal);
		border-radius: 20px;
		width: 120px;
		font-weight: bold;
		font-size: 22px;
		cursor: pointer;
		margin-left: 107vmax;
	}
	.white_btn2 {
		border: none;
		outline: none;
		background-color: transparent;
		cursor: pointer;
		margin-left: 115vmax;
		margin-right: 1px;
	}

	.sec1 {
		margin-right: auto;
		margin-left: auto;
		
	}

	.cards {
		display: flex;
		padding: 80px;
	
	}
	.card {
		display: flex;
		justify-content: space-between;
		padding: 10px;
		border-radius: 9px;
		box-shadow: 1px 3px 5px rgb(0, 0, 0);
		width:32vmax;
		height: 189px;
	}

	
	.listCoin{
		justify-content: center;
		align-items: center;
		padding-left: 0;
		background-color: #F9FCFF;
		border-radius: 20px;
		height: 100vh;
		width:25vmax;
		font-weight: bold;
		margin-left: 20vmax;
		margin-right: 25vmax;
		align-items: center;
	}

	.headerTable{
		margin-left: 25vmax;
		margin-right: 25vmax;
		width:85vmax;
		align-items: center;
		display: flex;
		justify-content: space-between;
		background-color:transparent;
	}
	
	.headerTable > div {
		
		background-color:transparent;
		width: 100%;
		margin: 10px;
		line-height: 2px;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 20px;
	  }


}

